#square {
    width: 140px;
    height: 140px;
    background: blue;
}
#circle {
    width: 140px;
    height: 140px;
    background: blue;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
}
#upTriangle {
    width: 0;
    height: 0;
    border-left: 70px solid green;
    border-right: 70px solid red;
    border-bottom: 140px solid blue;
}
#pacman {
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-top: 70px solid blue;
    border-left: 70px solid green;
    border-bottom: 70px solid red;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}